/*과거추천*/

* {
    background-color:whitesmoke;
    color: #2d3091; 
    margin:0;
}

#main {
    display: grid;
    grid-template-columns: 0.4fr 3fr 0.4fr;
}

.grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 0.1fr 0.5fr 2.5fr;
}

.header {
    margin-top: 15px;
}

.prev {
    cursor: pointer;
    border: none;
    font-size: 40px;
    outline: none;
    font-weight: 800;
}


.form {
    border: 3px solid #2d3091;
    border-radius: 10px;
}

.reco {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.food {
    margin-right: 10px;
    border: 3px solid #2d3091;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.music {
    margin-left: 5px;
    margin-right: 5px;
    border: 3px solid #2d3091;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.movie {
    margin-left: 10px;
    border: 3px solid #2d3091;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.img {
    width: auto;
    height: auto;
    margin: 0;
    border-radius: 10px;
    border: none; 
}